<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Webcounter | {{version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
    <script>
      function autoRefresh() {
          window.location = window.location.href;
      }
      setInterval('autoRefresh()', 2000);
    </script>
  
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Andre Filep Gome Marques</h1>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
      <h2>You have seen this {{ hits }} times</h2>
	  <h2 style="color:tomato;" >YOLO! you ONLY live ONCE! Stay crazy!</h2>
      <pre>running git hash: {{ version }}</pre>

      <div style='word-break: break-word;font-family: "Courier New", Courier, monospace;'>==== for some reason this shows fine ====<br>  
        ....#######...|.....##................|..........<br>
        ...##........##..|.....##................|..........<br>
        ...##..............|.....##................|..........<br>
        ...##...####...|.....##................|..........<br>
        ...##........##..|.....##................|..........<br>
        ...##........##..|.....##................|..........<br>
        ....#######...|.....#########..|..........<br>
        <br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*../@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/.....@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/......@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,.......@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*........@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@..........@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@............@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@/...............@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@@@@@./*.................@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@@@@*.....................,@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@@,.......................&amp;@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@@@.......................*@@@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@/........................@@@@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@..............@@@@...@...@@@@@@@@@@@@@@@@@@@@<br>
        @@@@@@@*.........&amp;..........@@@@..,@/.*@@@@@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@*.....*,..........@@@@@..*@*.*@@@@@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@*...@@/...(@@@@@@..,@@..,,@@@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@@...@@@..*@@@@@@@...........*@@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@*..@@@@. (.(*................,@@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@..@@@./........................@@@@@@@@@@@@@@<br>
        @@@@@@@@@@@@@@................................,(@@@@@@@@@@@<br>
        @@@@@@@@@,.......................................@@@@@@@@@@<br>
        @@@@@@,.........................................@@@@@@@@@@@</div>

    </div>
  </body>
</html>
